@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap");

:root {
  --primary-color: #000;
  --secondary-color: rgb(255, 255, 255);
  --effect-color: #1da1f2;
}

* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  color: var(--primary-color);
  background: var(--secondary-color);
  max-width: 55%;
  margin: auto;
}
/*navbar*/
nav {
  background-color: var(--secondary-color);
  height: 50px;
  width: 100%;
  line-height: 50px;
  margin: 20px 0px;
}

.nav-wrap {
  position: fixed;
  top: -5px;
  width: 55%;
  display: block;
  background: var(--secondary-color);
  height: 76px;
  padding: 0;
  margin: 0;
}

label a {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  font-size: 25px;
  font-weight: bold;
  margin-left: 46px;
  background: var(--effect-color);
  border-radius: 5px;
  padding: 1px 5px 1px 5px;
}

.navbar-content {
  float: right;
}

.navbar-content li {
  display: inline-block;
}

.navbar-content li a {
  font-family: "Roboto", sans-serif;

  font-size: 1.25rem;
  margin: -5px;
  display: inline-block;
  padding: 0px 15px 0px 15px;
  color: var(--primary-color);
}

.active {
}
/*hamberger*/
#check {
  display: none;
}

.checkbtn {
  font-size: 20px;
  float: right;
  margin-right: 20px;
  line-height: 50px;
  color: var(--primary-color);
  visibility: hidden;
  opacity: 0;
}

.fa-sun {
  font-size: 1.5rem;
  color: black;
}

.fa-moon {
  font-size: 1.5rem;
  color: black;
}
button {
  border: none;
  background-color: transparent;
}

/* header */
header .image {
  padding: 4rem 4rem 1rem 4rem;
  width: 500px;
  display: block;
  margin: auto;
}

header {
  text-align: center;
  padding: 16px 0px;
  margin-top: 50px;
}
header h1 {
  font-family: "Roboto";
  font-weight: bold;
  display: inline-block;
  color: var(--primary-color);
  padding: 0px 10px 0px 10px;
  margin-top: 10px;
  font-size: 2.8rem;
  text-align: center;
}

header p {
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
}

span {
  color: var(--effect-color);
}

/* sections */
section h2 {
  font-family: "Roboto";
  font-size: 2.2rem;
  color: var(--primary-color);
  margin-bottom: -15px;
}

span {
  font-weight: bold;
}

small {
  font-size: 0.9rem;
  font-weight: bold;
}
hr {
  width: 30%;
  margin: auto;
  opacity: 15%;
  display: none;
}
section h1 {
  display: inline-block;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px;
  margin-bottom: 5px;
}

section {
  padding: 1.5rem;
  text-align: left;
}

.single-block {
  margin: -15px 0px;
}

section p {
  font-size: 1.1rem;
  padding: 8px 0px;
}

.sec-01,
.sec-03 {
  background: var(--secondary-color);
}

/* links */
.links {
  /* border-bottom: ;: 1px solid var(--primary-color); */
  /* background-color: var(--effect-color); */

  color: var(--effect-color);
  margin-right: 20px;
  font-weight: bold;
}

/* footer */
footer {
  padding: 1rem;
  text-align: center;
  display: inline;
  color: var(--primary-color);
}

footer h2 {
  margin-bottom: 1rem;
}

footer ul li {
  display: inline;
  padding: 10px;
}

footer ul li a {
  font-size: 1.8rem;
  color: var(--primary-color);
}

/*hover*/

.checkbtn:hover,
label:hover {
  transition: 0.4s;
  cursor: pointer;
}

label a:hover {
  transition: 0.4s;
  color: var(--primary-color);
}

.navbar-content li a:hover {
  transition: 0.4s;
  color: var(--effect-color);
}

.links:hover {
  /* color: var(--effect-color); */
  border-bottom: 2px solid var(--primary-color);
}

footer ul li a:hover {
  color: var(--effect-color);
}

.info-para {
  line-height: 25px;
}

/*responsive*/

@media (max-width: 987px) {
  header .image {
    padding: 4rem 4rem 1rem 4rem;
    width: 390px;
    display: block;
    margin: auto;
  }

  .nav-wrap {
    width: 100%;
  }

  header {
    text-align: center;
    padding-bottom: 0rem;
  }

  body {
    max-width: 100%;
  }

  header h1 {
    font-family: "Roboto";
    font-weight: bold;
    color: var(--primary-color);
    display: inline-block;
    padding: 0px 10px 0px 10px;
    margin-top: 10px;

    font-size: 2.2rem;
    text-align: center;
  }
  .checkbtn {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  .navbar-content {
    margin-top: -5px;
    height: 100vh;
    width: 100%;
    background: var(--secondary-color);
    text-align: center;
    position: fixed; /*important for sliding effect*/
    left: -100%;
    transition: all 0.5s;
  }

  .navbar-content li {
    display: block; /*for vertical alignment of text*/
    padding: 5px;
  }

  #check:checked ~ .navbar-content {
    left: 0;
  }
}
